.group__trip {
    display: grid;
    row-gap: 3.5rem;
  }

  .group__trip h2 {
    font-size: 1.9rem;
  }

  .group__trip h2 span {
    color: #ed1c24;
  }

  .advantages__container {
    display: flex;
    -moz-column-gap: 1rem;
    column-gap: 1rem;
  }

  .advantages__item {
    font-family: "Montserrat Regular";
    font-size: 1rem;
    flex: 1 1 25%;
  }
